<template>
  <div class="hello">
    <h1>Reading</h1>
    <ArticleList v-bind:articles="books" />
  </div>
</template>

<script>
import BOOKS from '@/data/books'
import ArticleList from '@/components/ArticleList'
export default {
  name: 'Books',
  data: function() {
    return {
      books: BOOKS
    }
  },
  components: {
    ArticleList
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
  box-shadow: 0 2px 4px -4px;
}
h1 {
  box-shadow: 0 2px 4px -4px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
