<template>
  <div class="hello">
    <h1>About me</h1>
    <div class="container">
      <div class="image">
        <img alt="Vue logo" src="@/assets/museum.jpg">
      </div>
      <div class="intro">
        <div class="name"><b>Atulaa Krishnamurthy</b></div>
        <div>
          Lawyer. Also aspiring writer, stage actor, economist, food reviewer and cosmophage. Passionate about financial inclusion, livelihoods and access to justice. Might end up changing the world.
        </div>
        <div class="social-media">
          <a href="https://instagram.com/atulaaaa/" target="_blank"><img class="icon" src="@/assets/instagram.png" /></a>
          <a href="https://www.linkedin.com/in/atulaa-krishnamurthy-380182a1/" target="_blank"><img class="icon" src="@/assets/linkedin.png" /></a>
        </div>
      </div>
      <div class="twitter-feed">
        <TwitterFeed />
      </div>
    </div>
    
  </div>
</template>

<script>
import TwitterFeed from '@/components/TwitterFeed'
export default {
  name: 'AboutMe',
  components: {
    TwitterFeed
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
  box-shadow: 0 2px 4px -4px;
}
h1 {
  box-shadow: 0 2px 4px -4px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.container {
  display: flex;
}
.name {
  font-size: 20px;
  margin-bottom: 5px;
}
.intro {
  min-width: 400px;
  flex: 1;
  padding: 5px 20px;
  line-height: 1.5;
  font-size: 18px;
}
.image {
  width: 400px;
}
.image img {
  max-width: 100%;
  border-radius: 5px;
}
.icon {
  height: 32px;
  margin-right: 10px;
}
.twitter-feed {
  width: 400px;
}
.social-media {
  margin-top: 10px;
}
</style>
