<template>
  <div class="container">
    <ul class="nav">
      <li class="nav-item" v-bind:key="article.id" v-bind:class="{ active: article.id === selectedArticle.id }" v-for="article in articles" v-on:click="openArticle(article)">
        {{ article.title }}
      </li>
    </ul>
    <article class="article" v-html="selectedArticle.content">
    </article>
  </div>
</template>

<script>
export default {
  name: 'ArticleList',
  props: ['articles'],
  methods: {
    openArticle(article) {
      this.selectedArticle = article;
    }
  },
  data: function() {
    return {
      selectedArticle: (this.articles && this.articles.length) ? this.articles[0] : null
    }
  }
}
</script>

<style scoped>
.nav {
  min-width: 270px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  display: block;
  margin: 0 10px;
  padding: 12px 15px;
  box-shadow: 0 1px 2px -2px;
  cursor: pointer;
}
.nav-item.active {
  background-color: #eee;
}
a {
  color: #42b983;
}
.container {
  display: flex;
}
.article {
  padding: 5px 20px;
  line-height: 1.5;
  font-size: 18px;
}
</style>