<template>
  <div class="hello">
    <h1>Atulaa Krishnamurthy</h1>
    <TwitterFeed />
  </div>
</template>

<script>
import TwitterFeed from './TwitterFeed';
export default {
  name: 'Home',
  components: {
    TwitterFeed
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
