<template>
  <div class="hello">
    <a
      class="twitter-timeline"
      data-width="400"
      data-height="630"
      data-theme="dark"
      href="https://twitter.com/atulaak?ref_src=twsrc%5Etfw"
    >Tweets by atulaak</a>
    <script type="application/javascript" async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</template>

<script>
export default {
  name: 'TwitterFeed'
}
</script>