<template>
  <div id="app">
    <div class="header">
      <router-link to="/about-me">About me</router-link>
      <router-link to="/books">Reading</router-link>
      <router-link to="/law">Lawyering</router-link>
      <router-link to="/do-good">Saving the world</router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding: 20px;
  overflow: hidden;
}
.header {
  display: flex;
}
.header a {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #efefef;
  border-radius: 5px;
  text-decoration: none;
}

.header a.router-link-active {
  background-color: #ddd;
}
</style>
