<template>
  <div class="hello">
    <h1>Lawyering</h1>
    <iframe src="https://giphy.com/embed/1ken0zzzL79NPy3QZj" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/spotify-coming-soon-1ken0zzzL79NPy3QZj">via GIPHY</a></p>
  </div>
</template>

<script>
export default {
  name: 'Law'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
  box-shadow: 0 2px 4px -4px;
}
h1 {
  box-shadow: 0 2px 4px -4px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
